/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2015, 8:00:33 PM
    Author     : Adina Seitler
*/
body
{
    color: #ff00ff;
    padding: 50px;
    font-size: larger;
    font-family: cursive;
    
        
}
hi{
    color: #33ff00;
    width: 450px;
}
text{
    color: cyan;
    font-size: larger;
    font-family: fantasy;
}